@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

p {
    .ibm-plex-sans-jp-light {
        font-family: "IBM Plex Sans JP", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

}

h1 h2 h3 {
    .kosugi-maru-regular {
        font-family: "Kosugi Maru", sans-serif;
        font-weight: 200;
        font-size: 0.8rem;
    }
}

h2 {
    font-weight: 200;
    text-align: center;

}

/* main */

.my-name img {
    width: 300px;
    height: 400px;

}

.my-name {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.personality {
    margin: 120px;
    border: #cfebf4;
    box-shadow: 3px 3px 4px 4px #539cb5;

}

.personality-text {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.personality img {
    width: 120px;
    height: 160px;
}


.ican {
    margin: 120px;
    border: #cfebf4;
    box-shadow: 3px 3px 4px 4px #539cb5;
}

.ican h2 {
    text-align: center;
}

.ican-text {
    display: flex;
    justify-content: space-around;
}

.ican img {
    width: 100px;
    margin: 20px;
}

.thougth {
    margin: 120px;
    border: #cfebf4;
    box-shadow: 3px 3px 4px 4px #539cb5;

}

.end-img img {
    width: 40%;
    padding: 100px auto;
    align-items: center;
}



@media screen and (max-width:800px) {

    .my-name {
        display: block;
        margin: 20px;
    }

    .personality {
        /* width: 100%; */
        box-shadow: none;
        margin: 50px;

    }

    .personality-text {
        width: 120px;
        display: block;
        justify-content: center;
    }

    .box-1,
    .box-2,
    .box-3 {
        display: flex;
        margin: 20px;
        gap: 30px;
    }

    .ican {
        box-shadow: none;
        margin: 20px;
    }

    .thougth {
        margin: 20px;
    }
   
}