@charset "UTF-8";

/* 初期設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    font-family: "Kaisei Decol", serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}

li {
    list-style: none;
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
}

h2 {
    font-size: 40px;
}

/* header */
body {
    background-color: #ffe4e1;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    /* background-color: #add8e6; */
    display: flex;
    justify-content: space-between;

}


header h1 {
    margin: 15px;
    font-family: "Kaisei Decol", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.7rem;
}

header ul {
    display: flex;
    margin: 25px;

}


header ul li {
    padding: 12px;
    background-color: #fff;
}


header li :hover {
    padding: 2px;
    /* color: #6470b0; */
    cursor: pointer;
    border-bottom: solid 2px #eb999d;
}

/* footer */
footer {
    gap: 60px;
    margin: top 80px;
    display: flex;
    justify-content: center;

}

.footer-last {
    display: flex;

}

.footer-last ul {
    display: flex;
    margin: 15px;
    background-color: #fff;
}

.footer-last ul li {
    display: flex;
    margin: 18px;
}

.footer-last ul .footer-last1 {
    display: flex;
}



.footer-last ul .footer-last1 :hover {
    padding: 2px;
    /* /* border: solid 2px ; */
    color: #faf7f7;
    cursor: pointer;
}

@media screen and (max-width:450px) {
    header {
        width: 100%;
    }

    header h1 {
        font-size: 1.6rem;
    }

    .footer-last1 {
        display: flex;
    }

    .footer-last ul {
        display: flex;
        margin-left: 10%;
        background-color: #fff;

    }
    
}